body{
    font-family: 'Poppins', sans-serif;
    background-color:yellow;
    color: black;
    text-align: center;
}
#input{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
#list-container{
    background-color: white;
    text-align: center;
}